html, body {
  overflow-x: hidden
}
body {
  padding: 0;
  margin: 0;
}
.title1{
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
  text-align: center;
  margin: 20% auto;
  font-size: 3em;
  font-weight: bold
}

.nav-ham {
    height: 100%;
    position: fixed;
    right: 0;
    width: 320px;
    transform: translateX(320px);
    transition: transform 260ms ease-in-out;
    background-color: white;
    border-left: 1px solid #eee;
}
.nav-ham .ul-h {
  margin:0;
  padding:0;
  border-top: 1px solid #eee;
}
.nav-ham .ul-h>.li-h {
  list-style: none;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  transition: .25s
}
.nav-ham .ul-h>.li-h .span-h {
    display: block;
    font-size: 14px;
    color: #353535;
}
.nav-ham .ul-h>.li-h .a-h {
    color: #353535;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.nav-ham .ul-h>.li-h:hover {
  background-color: #fdfdfd;
}
input[type="checkbox"]:checked ~ .nav-ham {
  transform: translateX(0);
}
input[type=checkbox] {
  box-sizing: border-box;
  display: none;
  transition: all 0.25s;
}
.menuIconToggle {
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  z-index: 40;
  height: 100%;
  width: 100%;
  top: 22px;
  right: 15px;
  height: 22px;
  width: 22px;
  transition: all 0.3s;
}
.hamb-line {
  box-sizing: border-box;
  position: absolute;
  height: 4px;
  width: 150%;
  background-color: white;
  transition: all 0.25s;
}
.hor {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.dia.x-1 {
  position: relative;
  box-sizing: border-box;
  float: left;
  transition: all .25s;
}
.dia.x-2 {
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
  transition: all .25s;
}
input[type=checkbox]:checked ~ .menuIconToggle > .hor {
  box-sizing: border-box;
  opacity: 0;
  transition: all .25s;
}
input[type=checkbox]:checked ~ .menuIconToggle > .dia.x-1 {
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
  transition: all .25s;
}
input[type=checkbox]:checked ~ .menuIconToggle > .dia.x-2 {
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -10px;
  transition: all .25s;
}


  ._ham{
    display: none;
  } 

@media screen and (max-width: 990px) {
 .nav-ham{
    height: 100%;
    transform: translateX(100%);

  }

    ._ham{
    display: block;
  }
}
